<section id="six">
    
    <div class="container">
        <h3> Contact </h3>
    <ul class="alt">
        <div class="row">
        <div class="col-1 col-12-xsmall">
    <li><a href="http://github.com/{{ site.footer-links.github }}" class="icon brands fa-2x fa-github"><span class="label">Github</span></a></li>
</div>
        <div class="col-11 col-12-xsmall">
            <h4><a href="http://github.com/{{ site.footer-links.github }}">https://github.com/willeem</a></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-1 col-12-xsmall">
    <li><a href="http://linkedin.com/{{ site.footer-links.linkedin }}" class="icon brands fa-2x fa-linkedin"><span class="label">LinkedIn</span></a></li>
</div>
<div class="col-11 col-12-xsmall">
    <h4><a href="http://linkedin.com/{{ site.footer-links.linkedin }}"> https://www.linkedin.com/in/willem-datema</a></h4>
</div>
</div>
    <!-- <li><a href="" class="icon static fa-2x fa-envelope"><span class="label">Email</span> </a> </li> -->
</ul>
</div>
</section>