<!-- Header -->
<section id="header">
    <header>
        <span class="image avatar"><img src="assets/images/profilepic.png" alt="" /></span>
        <h1 id="logo"><a href="#">{{ site.name }}</a></h1>
        <p>{{ site.description }}</p>
    </header>
    <nav id="nav">
        <ul>
            <li><a href="#one" class="active">Over mij</a></li>
            <li><a href="#two">Skills</a></li>
            <li><a href="#three">Opleidingen</a></li>
            <li><a href="#four">Werkervaring</a></li>
            <li><a href="#five">Activiteiten voor Studievereniging ASCI</a></li>
            <li><a href="#six">Contact</a></li>
        </ul>
    </nav>
    <footer>
        <ul class="icons">
            <!-- <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li> -->
            <li><a href="http://github.com/{{ site.footer-links.github }}" class="icon brands fa-github"><span class="label">Github</span></a></li>
            <li><a href="http://linkedin.com/{{ site.footer-links.linkedin }}" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
            <!-- <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li> -->
        </ul>
    </footer>
</section>