<section id="three">
    
    <div class="container">
        <h3>Opleidingen</h3>
        <article>
        <header>
            <div class="row">
                <div class="col-9 col-12-xsmall">
                    <h4><a href="https://www.rug.nl/masters/information-science/">Master Information Science</a></h4>
                    <p>Rijksuniversiteit Groningen</p>
                </div>
                <div class="col-3 col-12-xsmall">
                    <p>2019-2020</p>
                </div>
            </div>
        </header>
        <!-- <p>De master Information Science gaat dieper in op wat er in de bachelor geleerd is. Ook in de master heb ik veel met machine learning gedaan. </p> -->
    </article>
<hr >
    <article>
        <header>
            <div class="row">
                <div class="col-9 col-12-xsmall">
                    <h4><a href="https://www.rug.nl/bachelors/information-science/">Bachelor Informatiekunde</a></h4>
                    <p>Rijksuniversiteit Groningen</p>
                </div>
                <div class="col-3 col-12-xsmall">
                    <p>2015-2019</p>
                </div>
            </div>
        </header>
        
    </article>
</div>
</section>