<!-- One -->
<section id="one">
    <div class="image main" data-position="center">
        <img src="assets/images/mooi.jpeg" alt="" />
    </div>
    <div class="container">
        <header class="major">
            <h2>Willem Datema</h2>
            <p>Startende IT Professional uit Groningen</p>
        </header>
        <p>Als gemotiveerde starter ben ik op zoek naar een uitdaging in de IT. Ik ben iemand die graag
            dingen zelf uitzoekt en goed zelfstandig kan werken. Ook heb ik bij mijn bijbaan laten zien dat ik een
            teamspeler ben. Mensen omschrijven mij als rustig, betrouwbaar, ambitieus en een harde werker.
            Mijn hobby’s zijn fitnessen, hardlopen, (board)gamen en afspreken met vrienden.</p>
    </div>
</section>
