<!-- Two -->
<section id="two">
    <div class="container">
        <h3>Skills</h3>
        <p>Hieronder staan de vaardigheden die ik tijdens mijn opleidingen en tijdens mijn werk heb ontwikkeld.</p>
        <ul class="feature-icons">
            <li class="icon solid fa-code">Python</li>
            <li class="icon solid fa-code">Django</li>
            <li class="icon solid fa-cloud">API's (REST en SOAP)</li>
            <li class="icon solid fa-desktop">Machine Learning</li>
            <li class="icon solid fa-database">SQL</li>
            <li class="icon solid fa-truck">Odoo</li>
        </ul>
    </div>
</section>