<section id="five">
    
    <div class="container">
        <h3>Activiteiten voor Studievereniging ASCI</h3>
        <article>
        <header>
            <div class="row">
                <div class="col-9 col-12-xsmall">
                    <h4>Lid Raad van Advies</h4>
                </div>
                <div class="col-3 col-12-xsmall">
                    <p>2018-2020</p>
                </div>
            </div>
        </header>
        <p>De Raad van Advies adviseert het bestuur over verenigingszaken. Als oud penningmeester hield ik me vooral bezig met het financiële gedeelte van de vereniging. </p>
    </article>
<hr >

<article>
    <header>
        <div class="row">
            <div class="col-9 col-12-xsmall">
                <h4>Lid Kascontrolecommissie</h4>
            </div>
            <div class="col-3 col-12-xsmall">
                <p>2018-2020</p>
            </div>
        </div>
    </header>
    <p>De kascontrolecommissie controleert of de financiën van de vereniging goed verlopen.</p>
    <!-- <p>De master Information Science gaat dieper in op wat er in de bachelor geleerd is. Ook in de master heb ik veel met machine learning gedaan. </p> -->
</article>
<hr >

<article>
    <header>
        <div class="row">
            <div class="col-9 col-12-xsmall">
                <h4>Voorzitter Activiteitencommissie</h4>
            </div>
            <div class="col-3 col-12-xsmall">
                <p>2018-2019</p>
            </div>
        </div>
    </header>
    <p>Eindverantwoordelijk voor het organiseren van gezelligheidsactiviteiten voor de studievereniging. In het bijzonder het leiden van vergaderingen en zorgen dat taken uitgevoerd worden.</p>
    <!-- <p>De master Information Science gaat dieper in op wat er in de bachelor geleerd is. Ook in de master heb ik veel met machine learning gedaan. </p> -->
</article>
<hr >

<article>
    <header>
        <div class="row">
            <div class="col-9 col-12-xsmall">
                <h4>Penningmeester bestuur</h4>
            </div>
            <div class="col-3 col-12-xsmall">
                <p>2017-2018</p>
            </div>
        </div>
    </header>
    <p>Bestuurslid verantwoordelijk voor de geldstromen en de begroting van studievereniging ASCI</p>
    <!-- <p>De master Information Science gaat dieper in op wat er in de bachelor geleerd is. Ook in de master heb ik veel met machine learning gedaan. </p> -->
</article>
<hr >

<article>
    <header>
        <div class="row">
            <div class="col-9 col-12-xsmall">
                <h4>Penningmeester introductiecommissie</h4>
            </div>
            <div class="col-3 col-12-xsmall">
                <p>2016-2017</p>
            </div>
        </div>
    </header>
    <p>Ik was werkzaam bij de introductiecommissie als penningmeester om een introductiekamp te organiseren. Ik was verantwoordelijk voor de begroting en het leiden van de activiteiten op het kamp.</p>
    <!-- <p>De master Information Science gaat dieper in op wat er in de bachelor geleerd is. Ook in de master heb ik veel met machine learning gedaan. </p> -->
</article>
</div>
</section>