<section id="four">
    <div class="container">
        <h3>Werkervaring</h3>
        <article>
        <header>
            <div class="row">
                <div class="col-9 col-12-xsmall">
                    <h4>Developer</h4>
                    <p>Piercing Mania</p>
                </div>
                <div class="col-3 col-12-xsmall">
                    <p>2018-2020</p>
                </div>
            </div>
        </header>
        <ul>
            <li>Ervaring opgedaan met het maken van een dashboard met behulp van Django. In dit dashboard waren sales data en voorraden te zien per product en per categorie.</li>
            <li>Gewerkt aan een manier om automatisch producten toe te kunnen voegen aan onze website. Hiervoor hebben we AirFlow, Celery en Django gecombineerd. Eerst werd data opgehaald met behulp van een zelf geschreven scraper, later kregen we een API koppeling.</li>
            <li>Gewerkt aan een applicatie in het framework Odoo. Odoo is een open-source ERP pakket en het doel van de applicatie was om de bestaande applicatie te koppelen aan de werkwijze van het bedrijf.</li>
            <li>Meegedacht over IT oplossingen op managementniveau.</li>
        </ul>
        <!-- <p>De master Information Science gaat dieper in op wat er in de bachelor geleerd is. Ook in de master heb ik veel met machine learning gedaan. </p> -->
    </article>

</div>
</section>